<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body >
    <nav class="navbar" style="background-color: rgb(243, 233, 198);">
        <div class="navbar-container">
            <img src="../static/images/alx-logo.png" alt="Alx-logo">
            <div class="navbar-right">
                <a href="{{ url_for('auth.login') }}">
                    <i class="fas fa-user icon"></i>
                </a>
            </div>
        </div>
    </nav>
    <div style="background-color: rgb(202, 55, 55);">
        <img src="../static/images/404.png" alt="" style="height: 300px; width: 500px; position: absolute; left: 30%; top: 20%;">
    </div>
</body>
</html>