{% extends "base.html" %}

{% block body %}

        {% if cart %}

        <h1>Shopping Cart</h1>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">

                    {% for product in cart %}
                    <div class="row">
                        <div class="">
                            <img src="../static/product_media/{{ product.product.product_picture }}" alt="" class="" height="150px" width="150px">
                        </div>
                            <div>
                                <h3>{{ product.product.product_name }}</h3>
                                <div class="my-3">
                                    <label for="quantity">Quantity</label>
                                    <a class="minus-cart btn" pid="{{product.id}}"><i class="fas fa-minus-square fa-lg"></i></a>
                                    <span id="quantity">{{ product.quantity }}</span>
                                    <a class="plus-cart btn " pid="{{ product.id }}"><i class="fas fa-plus-square fa-lg"></i></a>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <p class="mb-0"><span><strong>$ {{ product.product.selected_price }}</strong></span></p>
                                    <a href="" class="remove-cart btn btn-sm btn-secondary mr-3 " pid="{{product.id}}">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3>Everything here ...</h3>
                    <hr color="black">
                    <ul class="list-group">
                        {% for product in cart %}

                        <li class=""><strong>{{ product.product.product_name }}</strong><span id="amount">{{ product.product.selected_price }} X <span id="quantity{{product.id}}">{{ product.quantity }}</span></span></li>

                        {% endfor %}


                        <li class="l">Amount <span>$ <span id="amount_tt">{{ amount }}</span></span></li>

                        <li class="">
                            <div style="margin-top: 15px;">
                                <strong>Total</strong><small>(Excluding Shipping)</small>
                            </div>
                            <span><strong>USD$ </strong><span id="totalcost"><strong>{{ total }}</strong></span></span>
    
                        </li>

                    </ul>

                    <div class="d-grid"><a href="" class="btn btn-primary">Place Order</a></div>

                </div>
            </div>
        </div>

        {% else %}

        <h1 class="text-center mb-5" style="color: red;">Your Cart is Empty</h1>

        {% endif %}

{% endblock %}