{% extends "base.html" %}

{% block body %}
    <!-- Banner Section -->
    <div class="banner">
        <img src="../static/images/banner1.png" alt="ALX Closet Banner">
        <div class="banner-content">
            <p>ALX Closet redefines shopping—set your price, support future leaders, and wear your impact with pride. Join us in making a difference.</p>
            <div class="banner-buttons">
                {% if current_user.is_authenticated %}
                {% else %}
                <button class="btn shop-now"><a href="{{ url_for('customer.shop') }}">Shop Now</a></button>
                <button class="btn shop-now"><a href="{{ url_for('auth.signup') }}">Sign Up</a></button>
                {% endif %}
            </div>
        </div>
    </div>

    {% if current_user.is_authenticated %}
    <!-- Women's Category Section -->
    <div class="container">
    <div class="womens-category category-section">
    <h2>Womens Category</h2>
    <div class="products-grid">
        <!-- Product 1 -->
        <div class="product">
            <a href="{{ url_for('customer.product_to_buy', product_id=p1.id) }}">
                <img src="../static/images/Smiley-Hoddie-Yellow.png" alt="Smiley Hoodie">
            </a>
            <h3>The Smiley Hoodie</h3>
            <p>Comfortable soft hoodie with a playful smiley face, perfect for all your outings.</p>
            <div class="currency-slider">
                <div class="slider-container">
                    <div class="slider-thumb">
                        <span class="currency-icon">$</span>
                    </div>
                    <input type="range" min="{{ p1.min_price }}" max="{{ p1.max_price }}" value="{{ p1.selected_price }}" class="slider" id="price-slider-1">
                </div>
                <div class="price-display">
                    <small>Your selected price:</small>
                    <span id="price-display-1">${{ p1.min_price }}</span>
                </div>
            </div>
            <div class="card-actions">
                <button class="action-btn add-to-cart-btn" aria-label="add to cart">
                    <a href="{{ url_for('customer.add_to_cart', product_id=p1.id) }}">
                        <ion-icon name="cart-outline" aria-hidden="true">
                    </a>
                    </ion-icon>
                </button>
                <button class="action-btn" aria-label="add to wishlist">
                    <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                </button>
            </div>
        </div>

    <!-- Product 2: Puff-Up Jacket -->
    <div class="product">
        <a href="{{ url_for('customer.product_to_buy', product_id=p2.id) }}">
        <img src="../static/images/Puffer-Pink.png" alt="Puff-Up Jacket">
    </a>
    <h3>Puff-Up Jacket</h3>
    <p>Puff out with this warm, stylish jacket. Stay cool while repping your ALX pride!</p>
    <div class="currency-slider">
        <div class="slider-container">
            <div class="slider-thumb">
                <span class="currency-icon">$</span>
            </div>
            <input type="range" min="{{ p2.min_price }}" max="{{ p2.max_price }}" value="{{ p2.selected_price }}"class="slider" id="price-slider-2">
        </div>
        <div class="price-display">
            <small>Your selected price:</small>
            <span id="price-display-2">${{ p2.min_price }}</span>
        </div>
    </div>
    <div class="card-actions">
        <button class="action-btn add-to-cart-btn" aria-label="add to cart">
            <a href="{{ url_for('customer.add_to_cart', product_id=p2.id) }}">
                <ion-icon name="cart-outline" aria-hidden="true"></ion-icon>
            </a>
        </button>
        <button class="action-btn" aria-label="add to wishlist">
            <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
    </button>
    </div>
    </div>

    <!-- Product 3: Love Tech-Tee -->
    <div class="product">
        <a href="{{ url_for('customer.product_to_buy', product_id=p3.id) }}">
        <img src="../static/images/Tech-Tshirt-Green.png" alt="Love Tech-Tee">
    </a>
    <h3>Love Tech-Tee</h3>
    <p>For the tech lovers who wear their passion! Soft, stylish, and ready to code.</p>
    <div class="currency-slider">
        <div class="slider-container">
            <div class="slider-thumb">
                <span class="currency-icon">$</span>
            </div>
            <input type="range" min="{{ p3.min_price }}" max="{{ p3.max_price }}" value="{{ p3.selected_price }}" class="slider" id="price-slider-3">
        </div>
        <div class="price-display">
            <small>Your selected price:</small>
            <span id="price-display-3">${{ p3.min_price }}</span>
        </div>
    </div>
    <div class="card-actions">
        <button class="action-btn add-to-cart-btn" aria-label="add to cart">
            <a href="{{ url_for('customer.add_to_cart', product_id=p3.id) }}">
                <ion-icon name="cart-outline" aria-hidden="true"></ion-icon>
            </a>
        </button>
        <button class="action-btn" aria-label="add to wishlist">
            <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
        </button>
    </div>
    </div>

    <!-- Product 4: Look-Good Polo -->
    <div class="product">
        <a href="{{ url_for('customer.product_to_buy', product_id=p4.id) }}">
        <img src="../static/images/Polo-Purple-Woman.png" alt="Look-Good Polo">
    </a>
    <h3>Look-Good Polo</h3>
    <p>Look good! This sleek polo keeps you sharp and ready to take on the day with ALX pride.</p>
    <div class="currency-slider">
        <div class="slider-container">
            <div class="slider-thumb">
                <span class="currency-icon">$</span>
            </div>
            <input type="range" min="{{ p4.min_price }}" max="{{ p4.max_price }}" value="{{ p4.selected_price }}" class="slider" id="price-slider-4">
        </div>
        <div class="price-display">
            <small>Your selected price:</small>
            <span id="price-display-4">${{ p4.min_price }}</span>
        </div>
    </div>
    <div class="card-actions">
        <button class="action-btn add-to-cart-btn" aria-label="add to cart">
            <a href="{{ url_for('customer.add_to_cart', product_id=p4.id) }}">
                <ion-icon name="cart-outline" aria-hidden="true"></ion-icon>
            </a>
        </button>
        <button class="action-btn" aria-label="add to wishlist">
            <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
        </button>
    </div>
    </div>
            </div>
        </div>
    </div>


    <!-- Mens Category Section -->
    <div class="container">
    <div class="mens-category category-section">
        <h2>Mens Category</h2>
        <div class="products-grid">
            <!-- Product 5-->
    <div class="product">
        <a href="{{ url_for('customer.product_to_buy', product_id=p5.id) }}">
        <img src="../static/images/Found-Tee-Orange.png" alt="Found Tee">
    </a>
    <h3>Found Tee</h3>
    <p>A classic tee for every occasion. Show off your style and rep ALX with pride.</p>
    <div class="currency-slider">
        <div class="slider-container">
            <div class="slider-thumb">
                <span class="currency-icon">$</span>
            </div>
            <input type="range" min="{{ p5.min_price }}" max="{{ p5.max_price }}" value="{{ p5.selected_price }}" class="slider" id="price-slider-5">
        </div>
        <div class="price-display">
            <small>Your selected price:</small>
            <span id="price-display-5">${{ p5.min_price }}</span>
        </div>
    </div>
    <div class="card-actions">
        <button class="action-btn add-to-cart-btn" aria-label="add to cart">
            <a href="{{ url_for('customer.add_to_cart', product_id=p5.id) }}">
                <ion-icon name="cart-outline" aria-hidden="true"></ion-icon>
            </a>
        </button>
        <button class="action-btn" aria-label="add to wishlist">
            <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
        </button>
    </div>
    </div>

    <!-- Product 7: Sleeveless Top -->
    <div class="product">
        <a href="{{ url_for('customer.product_to_buy', product_id=p6.id) }}">
        <img src="../static/images/Sleeveless-Black.png" alt="Sleeveless Top">
    </a>
    <h3>Sleeveless Top</h3>
    <p>Stay cool and comfortable with this sleek sleeveless top, perfect for any workout or casual day out.</p>
    <div class="currency-slider">
        <div class="slider-container">
            <div class="slider-thumb">
                <span class="currency-icon">$</span>
            </div>
            <input type="range" min="{{ p5.min_price }}" max="{{ p5.max_price }}" value="{{ p5.selected_price }}" class="slider" id="price-slider-7">
        </div>
        <div class="price-display">
            <small>Your selected price:</small>
            <span id="price-display-7">${{ p7.min_price }}</span>
        </div>
    </div>
    <div class="card-actions">
        <button class="action-btn add-to-cart-btn" aria-label="add to cart">
            <a href="{{ url_for('customer.add_to_cart', product_id=p7.id) }}">
                <ion-icon name="cart-outline" aria-hidden="true"></ion-icon>
            </a>
        </button>
        <button class="action-btn" aria-label="add to wishlist">
            <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
        </button>
    </div>
    </div>


  <!-- Product 6:-->
    <div class="product">
        <a href="{{ url_for('customer.product_to_buy', product_id=p7.id) }}">
        <img src="../static/images/Sweater-Guy-Jade.png" alt="Sweater Guy">
    </a>
    <h3>Sweet Sweater</h3>
    <p>Stay warm and stylish with our Sweater Guy collection. Perfect for those cool days.</p>
    <div class="currency-slider">
        <div class="slider-container">
            <div class="slider-thumb">
                <span class="currency-icon">$</span>
            </div>
            <input type="range" min="{{ p6.min_price }}" max="{{ p6.max_price }}" value="{{ p6.selected_price }}"" class="slider" id="price-slider-6">
        </div>
        <div class="price-display">
            <small>Your selected price:</small>
            <span id="price-display-6">${{ p6.min_price }}</span>
        </div>
    </div>
    <div class="card-actions">
        <button class="action-btn add-to-cart-btn" aria-label="add to cart">
            <a href="{{ url_for('customer.add_to_cart', product_id=p6.id) }}">
                <ion-icon name="cart-outline" aria-hidden="true"></ion-icon>
            </a>
        </button>
        <button class="action-btn" aria-label="add to wishlist">
            <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
        </button>
    </div>
    </div>


<!-- Product 8: Dot T-shirt -->
    <div class="product">
        <a href="{{ url_for('customer.product_to_buy', product_id=p8.id) }}">
        <img src="../static/images/Dot-Tshirt-Red.png" alt="Dot T-shirt">
    </a>
    <h3>Dot T-shirt</h3>
    <p>A stylish dot pattern t-shirt that adds a unique flair to your casual outfit. Perfect for any day out.</p>
    <div class="currency-slider">
        <div class="slider-container">
            <div class="slider-thumb">
                <span class="currency-icon">$</span>
            </div>
            <input type="range" min="{{ p8.min_price }}" max="{{ p8.max_price }}" value="{{ p8.selected_price }}" class="slider" id="price-slider-8">
        </div>
        <div class="price-display">
            <small>Your selected price:</small>
            <span id="price-display-8">${{ p8.min_price }}</span>
        </div>
    </div>
    <div class="card-actions">
        <button class="action-btn add-to-cart-btn" aria-label="add to cart">
            <a href="{{ url_for('customer.add_to_cart', product_id=p8.id) }}">
                <ion-icon name="cart-outline" aria-hidden="true"></ion-icon>
            </a>
        </button>
        <button class="action-btn" aria-label="add to wishlist">
            <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
        </button>
    </div>
    </div>
            </div>
        </div>
    </div>

    {% else %}
    <h1>
        Set up the page before use
    </h1>
    {% endif %}

<!-- New Banner Section -->
<section class="section banner" aria-label="banner" data-section>
    <div class="container">
        <ul class="banner-list">
            <li>
                <div class="banner-card banner-card-1 has-before hover:shine">
                    <a href="{{ url_for('customer.shop') }}" class="btn">SHOP NOW</a>
                    <div class="has-bg-image" style="background-image: url('../static/images/Banner-Couple.png')"></div>
                </div>
            </li>
            <li>
                <div class="banner-card banner-card-2 has-before hover:shine">
                    <a href="#" class="btn">NEW COLLECTION</a>
                    <div class="has-bg-image" style="background-image: url('../static/images/Banner-Sporty.png')"></div>
                </div>
            </li>
        </ul>
    </div>
</section>




<!-- Feature Section -->
<section class="section feature" aria-label="feature" data-section>
    <div class="container">
        <h2 class="section-title">Why Shop with us?</h2>
        <ul class="flex-list">
            <li class="flex-item">
                <div class="feature-card">
                    <img src="../static/images/feature-truck.png" class="card-icon" alt="Free Shipping ">
                    <h3 class="card-title">Free quality shipping</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </li>
            <li class="flex-item">
                <div class="feature-card">
                    <img src="../static/images/feature-love.png" class="card-icon" alt="Love">
                    <h3 class="card-title">Designed with Love</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </li>
            <li class="flex-item">
                <div class="feature-card">
                    <img src="../static/images/feature-eco.png" class="card-icon" alt="Eco Friendly">
                    <h3 class="card-title">Eco Friendly</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </li>
        </ul>
    </div>
</section>
{% endblock %}