<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALXCLOSET Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/signup_login.css">
    <style>
        form {
            margin-top: 15%;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="{{ url_for('customer.index')}}">
                <img src="../static/images/alx-logo.png" alt="Alx-logo">
            </a>
            <div class="navbar-left">
                <div class="icon">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="search-box">
                    <input type="text" placeholder="Search">
                    <i class="fas fa-search search-icon"></i>
                </div>
            </div>
            <div class="navbar-right">
                <i class="fas fa-shopping-cart icon"></i>
                <i class="fas fa-star icon"></i>
                <i class="fas fa-user icon"></i>
            </div>
        </div>
    </nav>
    <div class="form-container">
    <div>
        {% if message %}
            <h2 style="color: rgb(255, 47, 227);">{{ message }}</h2>
        {%endif%}
    </div>   
    <h4>LOGIN HERE</h2>
    <form method="POST" action="{{ url_for('auth.login') }}"> 
        {{ form.hidden_tag() }}
        {{ form.email(placeholder="Email") }} 
        {{ form.password(placeholder="password") }} 
        {{ form.submit() }} 
    </form>
</form>
  <p>Input in your credentials to login</p>
  <p>Don' have an account?<a href="{{ url_for('auth.signup') }}"> Sign Up </a></p>
  <script src="../static/js/script.js"></script>
</div>
</body>
