<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALXCLOSET Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/signup_login.css">
    <style>
        form {
            margin-top: 15%;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-left">
                <div class="icon">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="search-box">
                    <input type="text" placeholder="Search">
                    <i class="fas fa-search search-icon"></i>
                </div>
            </div>
            <div class="navbar-right">
                <i class="fas fa-user icon"></i>
                <i class="fas fa-shopping-cart icon"></i>
                <i class="fas fa-star icon"></i>
            </div>
        </div>
    </nav>
    <div class="form-container">
  <h2>Register</h2>
    <form method="POST" action="{{ url_for('auth.signup') }}"> 
        {{ form.hidden_tag() }}
        {{ form.name(placeholder="name") }} 
        {{ form.email(placeholder="Email") }} 
        {{ form.submit() }} 
    </form>
</form>
  <p>By signing up, you agree to the <a href="#">Terms and Conditions</a></p>
  <p>Already have an account? <a href="./login">Login</a></p>
  <script src="../static/js/script.js"></script>
</div>
</body>
