{% extends "base.html" %}

{% block body %}
    <div class="main-content" style="display: flex;">
        <div class="menu" style="width: 20%; text-align: right; margin-top: 5.5%; padding-right: 20px; background-color: #f9f9f9;">
            <ul style="list-style-type: none; padding: 0;">
                <li style="margin-bottom: 15px;"><a href="#" data-page="notifications">Notifications</a></li>
                <li style="margin-bottom: 15px;"><a href="#" data-page="wishlist">Wishlist</a></li>
                <li style="margin-bottom: 15px;"><a href="#" data-page="favorite-products">Favorite Products</a></li>
                <li style="margin-bottom: 15px;"><a href="#" data-page="order-history">Order History</a></li>
                <li style="margin-bottom: 15px;"><a href="#" data-page="password-reset">Password Reset</a></li>
                <button class="btn shop-now"><a href="{{ url_for('auth.log_out') }}">Logout</a></button>
            
            </ul>
        </div>
        <div class="content" style="width: 80%; padding-left: 20px;">
            <div class="notifications page" style="display: none;">
                <h2>Notifications</h2>
                <p>You have no notifications.</p>
            </div>
            <div class="wishlist page" style="display: none;">
                <h2>Wishlist</h2>
                <p>Items in your wishlist will appear here.</p>
            </div>
            <div class="favorite-products page" style="display: none;">
                <h2>Favorite Products</h2>
                <p>Your favorite products will be listed here.</p>
            </div>
            <div class="order-history page" style="display: none;">
                <h2>Order History</h2>
                <p>Your order history will be displayed here.</p>
            </div>
            <div class="password-reset page" style="display: none;">
                <h2>Password Reset</h2>
                <form style="padding: 30px;" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.current_password.label }}
                    {{ form.current_password }}
                    {{ form.new_password.label }}
                    {{ form.new_password }}
                    {{ form.confirm_new_password.label }}
                    {{ form.confirm_new_password }}
                    {{ form.change_password }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    document.querySelectorAll('.menu ul li a').forEach(function(anchor) {
        anchor.addEventListener('click', function(e) {
            e.preventDefault();
            document.querySelectorAll('.content .page').forEach(function(page) {
                page.style.display = 'none';
            });
            const pageClass = '.' + e.target.getAttribute('data-page');
            document.querySelector(pageClass).style.display = 'block';
        });
    });
</script>
{% endblock %}
