<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing here</title>
</head>
<body>
    <form method="POST" action="{{ url_for('autho.test') }}"> 
        {{ form.hidden_tag() }}
        {{ form.username(placeholder="Username") }} 
        {{ form.email(placeholder="Email") }} 
        {{ form.phone(placeholder="Phone number") }} 
        {{ form.password(placeholder="Password") }} 
        {{ form.confirm_password(placeholder="Confirm Password") }} 
        {{ form.submit() }} 
    </form>
</form>
</body>
</html>