/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Color Variables */
:root {
    --green: #1B5E20;
    --light-green: #A5D6A7;
    --dark-green: #0D5302;
    --orange: #EF6C00;
    --light-orange: #f9e6d9;
    --white: #FFFFFF;
    --black: #000000;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --sidebar-bg: #b09bce;
    /* New variable for sidebar background */
    --sidebar-text: #855a5b;
    /* New variable for sidebar text */
}

/* Root and Body */
html {
    overflow-x: hidden;
}

body {
    background: rgb(247, 247, 247);
    overflow-x: hidden;
}

/* Sidebar Styling */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background: var(--white);
    z-index: 2000;
    font-family: var(--lato);
    transition: .3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

#sidebar.hide {
    width: 60px;
}

#sidebar .brand {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--sidebar-bg);
    background: var(--white);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

#sidebar .brand .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}

#sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

#sidebar .side-menu li.active {
    background: var(--sidebar-bg);
    position: relative;
}

#sidebar .side-menu li.active::before,
#sidebar .side-menu li.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 0;
    z-index: -1;
    box-shadow: 20px 20px 0 var(--sidebar-bg);
}

#sidebar .side-menu li.active::before {
    top: -40px;
}

#sidebar .side-menu li.active::after {
    bottom: -40px;
    box-shadow: 20px -20px 0 var(--sidebar-bg);
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--sidebar-text);
    white-space: nowrap;
    overflow-x: hidden;
}

#sidebar .side-menu.top li a:hover {
    color: var(--sidebar-text);
}

#sidebar .side-menu li a.logout {
    color: var(--yellow);
}

#sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width .3s ease;
}

#sidebar .side-menu li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}

/* Content Styling */
#content {
    position: relative;
    width: calc(100% - 220px);
    left: 220px;
    transition: .3s ease;
}

#sidebar.hide~#content {
    width: calc(100% - 60px);
    left: 60px;
}

/* Navbar Styling */
#content nav {
    height: 56px;
    background: var(--white);
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#content nav::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--white);
}

#content nav a {
    color: var(--sidebar-text);
}

#content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--sidebar-text);
}

#content nav .nav-link {
    font-size: 16px;
    transition: .3s ease;
}

#content nav .nav-link:hover {
    color: var(--sidebar-text);
}

/* Main Content Area */
#content main {
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}

#content main .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

#content main .head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--sidebar-text);
}

#content main .head-title .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

#content main .head-title .left .breadcrumb li {
    color: #855a5ba1;
}

#content main .head-title .left .breadcrumb li a {
    color: var(--sidebar-text);
    pointer-events: none;
}

#content main .head-title .left .breadcrumb li a.active {
    pointer-events: unset;
}

#content main .box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

#content main .box-info li {
    padding: 24px;
    background: var(--white);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

#content main .box-info li .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content main .box-info li:nth-child(1) .bx {
    background: #ffe3e3;
    color: var(--sidebar-text);
}

#content main .box-info li:nth-child(2) .bx {
    background: var(--light-green);
    color: var(--green);
}

#content main .box-info li:nth-child(3) .bx {
    background: var(--light-orange);
    color: var(--orange);
}

#content main .box-info li .text h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--black);
}

#content main .box-info li .text p {
    color: var(--black);
}

/* Page Visibility */
.page {
    display: none;
}

.page.active {
    display: block;
}

/* Table Styling */
table {
    width: 100%;
    table-layout: fixed;
}

th,
td {
    text-align: left;
    padding: 8px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.table {
    margin-bottom: 1.5rem;
    border-collapse: collapse;
}

.table thead th {
    border-bottom: 2px solid #dee2e6;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

/* Form Group Styling */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

/* Table Wrapper */
.table-wrapper {
    overflow-x: auto;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: var(--white);
}

/* Content Visibility */
.content {
    display: none;
    padding: 1rem;
}

.content.active {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 15px;
}

/* Content Sections */
section {
    padding: 10px 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    #sidebar {
        width: 60px;
    }

    #content {
        width: calc(100% - 60px);
        left: 60px;
    }

    #sidebar.hide~#content {
        width: 100%;
        left: 0;
    }

    #content nav .bx.bx-menu {
        margin-right: 12px;
    }

    #content main .head-title .left {
        width: 100%;
        text-align: center;
    }

    #content main .box-info {
        grid-template-columns: 1fr;
    }

    .content-wrapper {
        margin: 0;
    }
}

/* Custom Classes for Specific Elements */
.yellow-text {
    color: var(--yellow);
}