/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    background-color: #fffdfa;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.navbar-right a:hover {
    text-decoration: underline;
}

.navbar-right a {
    list-style-type: none;
    text-decoration: none;
    font-size: 14px;
    /* Adjusted font size for "Login" and "Sign Up" */
    color: #855a5b;
    /* Maroon color for "Login" and "Sign Up" */
}

/* Organize navbar items */
.navbar-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navbar-container>img:hover {
    cursor: pointer;
}

/* Icon styles with hover effect */
.icon {
    font-size: 20px;
    margin: 0 15px;
    cursor: pointer;
    color: #000;
    transition: color 0.3s ease, transform 0.3s ease;
}

.icon:hover,
.icon:active {
    color: #855a5b;
    transform: scale(1.2);
}

/* Search box styles */
.search-box {
    margin-left: 150px;
    display: flex;
    align-items: center;
    border: 1px solid #855a5b;
    border-radius: 40px;
    padding: 5px 15px;
    transition: transform 0.3s ease;
    flex-grow: 1;
    max-width: 200px;
}

.search-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    background-color: #fffdfa;
    color: #000;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.search-box input:focus {
    color: #855a5b;
}

.search-box:hover {
    transform: scale(1.05);
}

.search-icon {
    color: #855a5b;
    margin-left: 10px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #855a5b;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.main-content {
    margin-top: 6%;
    display: flex;
    flex-grow: 1;
}

.menu {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: #333;
}

.menu a.active {
    color: #0066cc;
    font-weight: bold;
}

.content {
    flex-grow: 1;
    padding: 20px;
}



.page.active {
    display: block;
}

.user-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    /* Adjust based on your navbar height */
    right: 10px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.user-dropdown.show {
    display: block;
}

.user-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-dropdown ul li {
    padding: 10px 20px;
}

.user-dropdown ul li a {
    text-decoration: none;
    color: black;
    display: block;
}

.user-dropdown ul li:hover {
    background-color: #f1f1f1;
}