/* signup_login.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f0f3fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    background-color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

.navbar-container img {
    height: 40px;
}

.search-box {
    position: relative;
}

.search-box input {
    border: 2px solid #ddd;
    border-radius: 20px;
    padding: 10px 20px;
    width: 200px;
    outline: none;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.navbar-right i {
    margin: 0 10px;
    color: #333;
}

.form-container {
    padding: 50px;
    width: 50%;
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #333;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-icons a {
    margin: 0 10px;
    font-size: 20px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #007BFF;
}

.form-container span {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 30px;
    border: 1px solid #ddd;
    outline: none;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-container p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.form-container a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

.form-container a:hover {
    color: #0056b3;
}

.form-container.sign-up {
    background: linear-gradient(to right, #e1f5fc, #f8f9fd);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container img {
    width: 50%;
    object-fit: cover;
    background: #f0f3fa;
}
